<!DOCTYPE html>
<html>
    <head>
        <title>History</title>
    </head>
<body style="background-color:{{bg_color}};">
    <h1>History Page</h1>
    <form action="/" method="get">
        <button type="submit">Back to Main Page</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            {% for data in extracted_data %}
            {% for date, cities in data.items() %}
            {% for city in cities %}
            <tr>
                <td>{{ date }}</td>
                <td>{{ city }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>


</body>
</html>